* {
  padding: 0;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
} /********akbar font**********/
@font-face {
  font-family: "Akbar"; /* Choose a unique name for your font */
  src: url("/font/akbar.ttf") format("woff2"),
    /* Modern Browsers */ url("/font/akbar.ttf") format("woff");

  /* Older Browsers */ /* You can add more file formats here if needed (e.g., .ttf, .eot) */
}

body {
  font-family: "Alien Spaceship", sans-serif;
}

/**********poor story font***********/
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap"); /************header***********/
h2,
h3 {
  font-family: "Akbar", sans-serif;
}
p,
li,
span {
  font-family: "Poor Story", cursive;
}
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.social_icon {
  display: flex;
  align-items: center;
}
.logo_img {
  width: 180px;
}
.icon {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-right: 12px;
  width: 40px;
  background-color: #6cd3ac;
  height: 40px;
  border-radius: 6px;
  line-height: 40px;
  transition: all 0.3s ease;
}
.header {
  background-color: #130f3d;
  height: 140vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0 80%);
}
.header_wrapper {
  /* background-image: url(/assets/images/banner-star.png); */
  position: relative;
  z-index: 99999;
  /* background-color: #192a56; */
  background-color: #222;
  height: 140vh;
} /************banner section************/
.content_box h2 {
  font-size: 80px !important;
  font-weight: 900;
  color: #fff;
  font-family: "Akbar", sans-serif;
}
.gradient {
  color: #88e4fc;
}
.para {
  font-size: 16px;
  color: #fff;
  margin: 25px 0;
  line-height: 30px;
}
/* .btn_custm {
  text-decoration: none;
  background-image: #5434ef;
  font-family: "Akbar", sans-serif;
  font-size: 18px;
  padding: 12px 33px;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  border: 3px solid #8771f4;
  display: inline-block;
  transition: all 0.33s ease;
} */

.btn_custm {
  background-image: linear-gradient(
    to right,

    #6cd3ac,
    #e1e22a
  );
  /* margin: 10px; */
  /* padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-decoration: none;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 30px;
  font-family: "Akbar", sans-serif;
  font-size: 18px;
  padding: 10px 33px;
  margin-top: 10px;
  display: inline-block;
}

.btn_custm:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/* .btn_custm:hover {
  background-color: #8771f4;
  color: #fff !important;
} */
.banner_content {
  margin-top: 67px;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
  max-width: 100%;
}
.fluid {
  width: 100%;
  max-width: 750px;
  /* height: auto;
  position: absolute;
  top: 18%;
  left: 40%; */
} /****angle bg****/
.angle_bg {
  background-color: #222;
} /************features section************/
.title h2 {
  color: #fff;
  text-align: center;
  font-family: "Akbar", sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
.title p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  margin-top: 15px;
  text-align: center;
  margin: 0 auto;
  width: 988px;
}
.feature_sec {
  /* background: linear-gradient(171deg, #A3C7E9 11.19%, #4A21EF); */
  /* background: linear-gradient(
    176deg,
    #a3c7e9 11.19%,
    #4a21ef
  ); */

  background-color: #080a00;
  padding: 300px 0 0;
  margin-top: -200px;
}
.ft_icon {
  width: 48.5px;
  height: 46.837px;
  flex-shrink: 0;
}
.card_box {
  padding: 22px;
}
.card_box h3 {
  color: #fff;
  font-family: "Akbar", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 30px 0 17px; /* 107.692% */
}
.card_box p {
  color: #fff;
  font-family: "Poor Story", cursive;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 119.048% */
}
.wrapper_custm {
  width: 100%;
  max-width: 970px;
  padding: 0 30px 64px;
  margin: 0 auto;
} /*************about section*************/
.about_sec {
  background: #080a00;
  padding: 0 0 90px;
}
.abt_title {
  color: #fff;
  text-align: center;
  font-family: "Akbar", sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 127.66% */
}
.abt_wrapper {
  border-radius: 43px;
  padding: 60px 0 2px;
  background: #222;
}
.shape_bg {
  margin-top: 60px;
  position: relative;
  background-image: url(/assets/images/shape.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.abt_card h3 {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 107.692% */
} /************more abt section***********/
/* .more_abt_cont {
  margin-right: 40px;
} */
.more_abt_sec {
  background: #080a00;
  padding: 80px 0;
}
.more_abt_cont h3 {
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 60px; /* 127.66% */
}
.more_bg {
  position: relative;
}
img.buy_img {
  width: 689px;
}
ul.list {
  list-style-type: number;
  line-height: 31px;
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

ul.list li {
  margin-bottom: 10px;
}
.more_abt_cont {
}

/* .bg_wrapper{background-image: url(/assets/images/how-to-buy.svg); height: 900px; background-size:cover; background-position:calc();}*/ /* .more_bg{background-image: url(/assets/images/how-to-buy.svg); background-repeat: no-repeat; height:500px; background-size: 100%; background-position: right;}*/ /******how to buy section******/
.buy_content h3 {
  color: #111;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 132.353% */
}
.buy_content {
  position: absolute;
  top: 26%;
  right: 12%;
  padding: 40px 64px;
} /*****blur section****/
.blur_sec {
  background: #431fd9;
  filter: blur(50px);
  height: 200px;
  display: none;
}
/* .blur_sec {
  background: #431fd9;
  filter: blur(34px);
  height: 200px;
  margin-top: -74px;
  width: 100%;
}  */

/***********roadmap section************/
.roadmap_sec {
  padding: 0px 0 0;
  background: #080a00;
  /* margin-top: -126px; */
  position: relative;
  z-index: 1;
}
/* .inner_sec {
  background-image: url(/assets/images/roadmap-bg.svg);
  position: relative;
  height: 2290px;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: -130px;
  z-index: 1;
  padding: 200px 0;
} */
.road_img {
  width: 700px;
  margin-top: 50px;
  position: relative;
  z-index: 9999;
}
.roadmap {
  margin: 0 59px;
  width: 383.136px;
  padding: 30px;
  height: 380px;
  font-family: "Poor Story", cursive;
  flex-shrink: 0;
  background: #222;
  border: 1px solid yellow;
}
.roadmap h4 {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 120% */
}
.roadmap ul {
  padding: 0;
  margin: 0;
}
.roadmap ul li {
  color: #fff;
  font-family: "Poor Story", cursive;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  list-style-type: none;
} /* 120% */
.road_card1 {
  transform: rotate(1.891deg);
}
.road_card2 {
  transform: rotate(-3.574deg);
  margin-top: 100px;
}
.road_card3 {
  transform: rotate(4.109deg);
} /*********community section********/
/* .wrapper_div {
  background: url(/assets/images/up.png);
  padding-top: 56px; /* height: 500px; 
} */
/* .community_sec {
  background: url("/assets/images/footer-star.svg"),
    url(/assets/images/bottom-footer.png);
  padding: 230px 0 60px;
} */
.comm_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comm_img {
  width: 440px;
  height: 432px;
  flex-shrink: 0;
}
.join_cont {
  font-family: "Akbar", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  color: #fff;
  margin-bottom: 28px; /* 108.75% */
} /***********footer section**********/
.footer_bg {
  border-radius: 43px;
  padding: 40px;
  background: #222;
}
.foot_title {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 15px; /* 168% */
  letter-spacing: -0.25px;
}
.footer_menu {
  padding: 0;
  margin: 0;
}
.footer_menu li {
  list-style-type: none;
}
.footer_menu li a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 28px;
}
.copy_txt {
  color: #1f1855;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  display: block;
  margin-top: 40px; /* 247.059% */
  letter-spacing: -0.17px;
}
h3 {
  color: #fff;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
/*************floating animation*************/
.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 30px);
  }
  to {
    transform: translate(0, -0px);
  }
} /* second version */ /* .floating_2{animation-name: floating; animation-duration: 3s; animation-iteration-count: infinite; animation-timing-function: ease-in-out; margin-left: 30px; margin-top: 5px;}@keyframes floating{from{transform: translate(0, 0px);}65%{transform: translate(0, 15px);}to{transform: translate(0, -0px);}}*/ /***********responsive css*********/
@media screen and (max-width: 768px) {
  .road_img {
    width: 100%;
  }
  .inner_sec {
    margin-top: -171px;
  }
  .buy_content {
    position: absolute;
    top: 21%;
    right: -2%;
    padding: 40px 64px;
  }
  /* .para {
    width: fit-content;
    padding: 0 15px;
  } */
  .abt_img {
    width: 100%;
  }
  .title p {
    width: fit-content;
    padding: 0 5px 0 4px;
  }
  .header {
    background-color: rgb(19, 15, 61);
    height: 137vh;
    clip-path: polygon(0% 0%, 102% 0%, 100% 89%, 50% 100%, 0px 89%);
  }
  .content_box {
    text-align: center;
  }
  .fluid {
    width: 100%;
    height: auto;
    position: inherit;
  }
  .road_card1,
  .road_card2,
  .road_card3 {
    transform: initial;
  }
  .roadmap {
    /* margin: 0 59px; */
    width: auto;
    margin: 0px 0 27px;
  }
  .comm_cont {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  .wrapper {
    padding: 20px 0 0 0;
  }
}

/******banner text animation*****/
.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 6em;
}

.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 6em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

/******ml11****/
.ml11 {
  position: relative;
  font-weight: 900;
  font-size: 6em !important;
  padding: 0;
  margin: 0;
  line-height: 15px;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml11 .letter2 {
  display: inline-block;
  line-height: 1em;
  color: #6cd3ac;
  transform-origin: 0 0;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 4em;
  padding: 0;
  margin: 0;
  line-height: 15px;
}

.content_box h2 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  font-family: "Akbar", sans-serif;
  line-height: 15px;
  margin: 0;
  padding: 0;
}
